

.nav-class{
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-evenly;
    
}

.btn-div{
    display: flex;
    flex-direction: row;
    gap:4px;
    margin-left: 5rem;
    
}